body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
    color:brown;
}
section{
    display: flex;
}
.vag1{
    width: 50%;
   padding-left: 100px;
}
.vag1 img{
    width: 70%;

}
a{
    color: #fff;
    background-image: linear-gradient(to bottom right, red, yellow);
    padding: 10px 20px;
    font-weight: 700;
    text-decoration: none;
}
.area1{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
